{% extends 'base.html' %}
{% block title %}
Project List
{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'create_project' %}">Create new project</a>
    </nav>
</header>
<div>
    <h1>My Projects</h1>
    {% if list_project %}
    <table>
        <thead>
            <th>Name</th>
            <th>Number of tasks</th>
        </thead>
        <tbody>
            {% for project in list_project %}
            <tr>
                <td>
                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                </td>
                <td>{{ project.tasks.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You are not assigned to any projects</p>
    {% endif %}
</div>
{% endblock content %}
