{% extends 'base.html' %}
{% block title %}
Project List
{% endblock title %}
{% block content %}
<div>
    <h1>My Projects</h1>
    {% if project_list|length == 0 %}
    <p>You are not assigned to any projects</p>
    {% endif %}
    <table>
        <thead>
            <th>Name</th>
            <th>Number of tasks</th>
        </thead>
        <tbody>
            {% for project in list_project %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.task|default:"" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
